body {
    background-color: aliceblue;
}
.vstack {
    display: flex;
    flex-direction: column;
}
.hstack {
    display: flex;
    flex-direction: row;
}
#h1_topic {
    text-align: left;
}
#btn_Homepage {
    display: flex;
    justify-content: end;
    border: none;
    background-color: aliceblue;
    border-radius: 20px;
    text-align: center;
    align-items: center;
    font-size: larger;
    padding: 0px 20px;
}
.zstack {
	display: grid;
	align-items: center;
	justify-items: center;
}
.zstack > * {
	grid-area: 1/1/1/1;
}
.square-item {
    width: 60px;
	height: 60px;
	background-color: magenta;
	border-radius: 5px;
}