body {
    background-color: antiquewhite;
}
.vstack {
    display: flex;
    flex-direction: column;
}
.hstack {
    display: flex;
    flex-direction: row;
}
#h1_name {
    text-align: center;
    font-size: 50px;
}
.btn_center {
    display: flex;
    margin: auto;
}
.btn_tab {
    display: flex;
    flex-wrap: wrap;
    gap: 300px;
}
.btn_square {
    display: flex;
    width: 300px;
    aspect-ratio: 1;
    justify-content: center;
    align-items: start;
    background-color: forestgreen;
    color: aliceblue;
    font-size: xx-large;
    border-radius: 5px;
    border: none;
}
.btn_image {
    /* display: inline-block; */
    background-size: cover;
    background-image: url('Wallpaper2.jpg');
}
.btn_Language {
    width: 50px;
    height: 50px;
    border-radius: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    /* border: none; */
    margin: 10px;
    cursor: pointer;
    font-size: 18px;
    /* position: absolute; */
    transition: background-color 0.3s;
}
.btn_right {
    position: absolute;
    top: 20px;
    right: 20px;
}
