body {
    background-color: antiquewhite;
}
.vstack {
    display: flex;
    flex-direction: column;
}
.hstack {
    display: flex;
    flex-direction: row;
}
#h1_name {
    text-align: center;
    font-size: 50px;
}
.btn_center {
    display: flex;
    margin: auto;
}
.btn_tab {
    display: flex;
    flex-wrap: wrap;
    gap: 300px;
}
.btn_square {
    display: flex;
    width: 300px;
    aspect-ratio: 1;
    justify-content: center;
    align-items: start;
    background-color: forestgreen;
    color: aliceblue;
    font-size: xx-large;
    border-radius: 5px;
    border: none;
}
.btn_Language {
    display: inline-block;
    text-align: center;
    font-size: medium;
}
.btn_right {
    position: absolute;
    top: 20px;
    right: 20px;
}
.btn_image {
    display: inline-block;
    width: 300px;
}